.home-page {
    text-align: center;
}
  
.home-logo {
    height: 30vmin;
    pointer-events: none;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
}
  
@media (prefers-reduced-motion: no-preference) {
    .home-logo {
        animation: App-logo-spin infinite 15s linear;
    }
}
  
.home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
  

  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  