.home-page {
    text-align: center;
    height: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.features {
    margin-top: 10vh;
    width:  100%;
    margin-bottom: 10vh;
}

.planning-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 50vh;
}

.planning-img {
    border-radius: 20vh 0 0 20vh;
    background-color: var(--highlight-40);
    margin-right: 2vw;
    width: 45%;
    height: 40vh;
}

.planning-text {
    width: 45%;
    height: 40vh;
    margin: auto;
    margin-left: 2vw;
    text-align: right;
}

.photo-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 50vh;
}

.photo-img {
    border-radius: 0 20vh 20vh 0;
    background-color: var(--highlight-40);
    margin-left: 2vw;
    width: 45%;
    height: 40vh;
}

.photo-text {
    margin: auto;
    margin-right: 2vw;
    width: 45%;
    height: 40vh;
    text-align: left;
}

.memories-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 50vh;
}

.memories-img {
    border-radius: 20vh 0 0 20vh;
    background-color: var(--highlight-40);
    margin-right: 2vw;
    width: 45%;
    height: 40vh;
}

.memories-text {
    width: 45%;
    height: 40vh;
    margin: auto;
    margin-left: 2vw;
    text-align: right;
}
